*{
margin: 0%;
padding: 0%;
box-sizing: border-box;
}
body > h1{
    font-size: 5em;
}
body > h2{
    font-size: 1em;
}

body{    
    background-color: rgba(155, 255, 4, 0.267);
    color: rgb(0, 38, 255);
}

header{
    position: relative;
    background: rgba(155, 255, 4, 0.267),blue;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.fogo{
    width: 1000px;
    height: 1000px;
}

.gradient {
    background-image: linear-gradient(to left, rebeccapurple, steelblue, turquoise);
    color: black;
  
    /* Adicionado: */
    background-clip: text;
    -webkit-background-clip: text;
  }